* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('img/wave5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    color: rgb(249, 171, 184);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5vmin;
}

.header p {
    font-family: 'Poppins', sans-serif;
    font-size: 3vmin;
    margin-top: 15px;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    margin-top: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 36, 103);
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col1 img {
    max-width: 35%;
}

.col1 .phone a{
    color: rgb(16, 36, 103);
    text-decoration: underline;
}


.phone,
.mail,
.location {
    align-items: center;
    flex-direction: row;
    display: flex;
    max-width: 30%;
    margin-top: 15px;
}

.mail {
    margin-top: 30px;
}

.phone img,
.mail img,
.location img {
    margin-right: 12px;
}

.col1 h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
}

.col2 {
    border-radius: 12px;
    background-color: white;
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-field {
    background-color: red;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    border: none;
    padding: 0 35px;
    outline: none;
    position: relative;
    height: 100%;
    border-bottom: 2px solid #ccc;
    width: 100%;
}

.input-field i {
    left: 0;
    top: -68%;
    /* transform: translateY(-50px); */
    position: relative;
}

.button {
    margin-bottom: 10px;
}

.button input {
    text-align: center;
    color: #fff;
    background-color: #4070f4;
    padding: 10px;
}

/* Responsive */

@media only screen and (max-width:700px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    

    .col1{
        margin-bottom: 15px;
        width: 100%;
    }

    .col2{
        width: 100%;
        margin-top: 26px;
    }

    .phone,
    .mail,
    .location {
        max-width: 49%;
    }
}

@media (min-width:1px) and (max-width:366px){
    h2{
        color: rgb(173, 125, 6);
    }
}
