@media only screen and (max-width:600px) {

    .header {
        overflow-x: hidden;
    }

    /* Navbar  */
    .navbar {
        position: static;
        padding: 0;
    }

    .social-icons li{
        font-size: 8vmin;
    }

    .nav-links li{
        font-size: 6.2vmin;
    }

    .toggle {
        height: 20px;
        display: block;
    }

    .navbar .logo h1 {
        color: rgb(31, 31, 101);
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .navlinks-box {
        transition: .31s;
        display: flex;
        width: 100%;
        padding: 60px;
        justify-content: space-around;
        align-items: center;
        /* background-color: #bedbe6; */
        background-color: rgb(31, 31, 101);
        height: 100vh;
        margin-top: -990px;
        flex-direction: column;
    }

    .phone {
        margin-top: 0px;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        margin-top: 30px;
    }

    .row {
        flex-direction: column;
    }

    .col1 {
        padding: 10px;
        margin-bottom: 4px;
    }

    .col1 p {
        margin-top: 20px;
    }

    .btn:hover {
        transform: scale(1);
    }

    .a-style {
        margin-top: 15px;
    }

    .a-style img {
        height: 3vh;
    }

    .a-style img:hover {
        height: 3.4vh;
    }

    .header {
        height: 100%;
        margin-top: 120px;
    }

    .col2 {
        margin-top: 4px;
    }

    .col2 img {
        /* box-shadow: 2px 2px 27px black; */
        max-width: 50%;
    }

    .circle-style {
        width: 100%;
        height: 47vh;
        top: -13%;
        right: 2.9%;
    }

    .circle-style2 {
        right: 0;
        display: none;
    }

    /* Projects Section */

    .project .title h3{
        margin: 12px;
    }

    .project .title h3{
        display: none;
    }

    .project .title-main h4{
        flex-direction: column;
        align-items: flex-end;
        margin-top: 22px;
    }

    .project .grid-wrap {
        grid-template-columns: auto;
    }

    .project .grid-container img{
        width: 100%;
    }

    .hover1, .hover2, .hover3, .hover4, .hover5 {
        top: 15%;
        left: 16%;
        width: 70%;
        height: 70%;
    }

    .hover1, .hover2, .hover3, .hover4, .hover5 h4{
        font-size: 4.5vmin;
    }

    /* Skill Section */

    .skills {
        background: white;
    }

    .grid-wrap {
        margin: 15px;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }

    .grid-container {
        box-shadow: 2px 0px 30px #0000002f;

    }

    .grid-container:hover {
        background: var(--circle);
    }

    .hobby-box {
        flex-direction: column;
    }

    .hobby-container {
        margin: auto;
        width: 100%;
    }

    .hobby-chart {
        margin-top: 25px;
    }
}
